force-app/main/default/flows/Copado_Pull_Request_Approval_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Deployment To Production</description>
        <name>Deployment_To_Production</name>
        <label>Deployment To Production</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Pull_Request_Check_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Pull_Request__r.copado__User_Story__r.copado__Org_Credential__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>STG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReadyToDeploy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Copado Pull Request Approval Automation</description>
    <environments>Default</environments>
    <interviewLabel>Copado Pull Request Approval Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado Pull Request Approval Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Pull_Request_Check_Update</name>
        <label>Pull Request Check &amp;Update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Pull_Request__r.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Has_Apex_Code__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Promote_and_Deploy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Pull_Requests_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>UpdateReadyToDeploy</description>
        <name>UpdateReadyToDeploy</name>
        <label>UpdateReadyToDeploy</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Pull_Request__r.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Has_Apex_Code__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Promote_Change__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Pull_Requests_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deployment_To_Production</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Review_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>copado__Pull_Request_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
