force-app/main/default/flows/Email_Case_Auto_Response_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Case_Auto_Response</name>
        <label>Case.Email_Case_Auto_Response</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Case.Email_Case_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Migrated from the: Email Case Auto-Response Rule workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <label>Email Case Auto-Response Rule</label>
    <migratedFromWorkflowRuleName>Email Case Auto-Response Rule</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Email_Case_Auto_Response</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Response_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <filterFormula>AND( (ISPICKVAL( {!$Record.Status} , &apos;New&apos;)),!(ISPICKVAL( {!$Record.Origin} ,&apos;Social Network&apos;)),!(ISPICKVAL( {!$Record.Origin} ,&apos;Phone&apos;)), !(CONTAINS( {!$Record.Subject} ,&apos;Email Loop Protection&apos;)), !({!$Permission.Bypass_Logic}))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
