force-app/main/default/flows/Fleet_Application_Reviewer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>checkisprimary</name>
        <label>checkisprimary</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isprimary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isprimaryapp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAccount</targetReference>
            </connector>
            <label>isprimary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulatext</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <formulas>
        <name>isprimaryapp</name>
        <dataType>Boolean</dataType>
        <expression>{!get_Fleet_Application.Is_Primary_Application__c}</expression>
    </formulas>
    <interviewLabel>Fleet Application Reviewer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fleet Application Reviewer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Fleet_Application</name>
        <label>get Fleet Application</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_fleet_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fleet_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_fleet_Application</name>
        <label>update fleet Application</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>screen_msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Fleet_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_Reviewed_By__c</field>
            <value>
                <elementReference>get_Fleet_Application.Fleet_Reviewed_By__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>screen_msg</name>
        <label>screen msg</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkisprimary</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;{!textmsgtest}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Fleet_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textmsgtest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_Fleet_Application.Application_Name__c}&lt;/span&gt; has been reviewed by {!$User.FirstName}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>get_Fleet_Application.Parent_Account__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
