force-app/main/default/flows/Fleet_Account_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>check_date_of_submission</name>
        <label>check date of submission</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fleet_Pending_Additional_Info_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Date</targetReference>
            </connector>
            <label>check date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_account_RT</name>
        <label>check for account RT</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_for_AR_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted for AR Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_AR_App_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AR_status</targetReference>
            </connector>
            <label>Submitted for AR Review</label>
        </rules>
        <rules>
            <name>PendingAdditionalInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Additional Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_AR_App_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AR_statuss</targetReference>
            </connector>
            <label>Pending Additional Information</label>
        </rules>
        <rules>
            <name>ApprovedorDeclined</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fleet_AR_App_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_AR_App_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fleet_Approved_Declined_By__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AR_status_approved</targetReference>
            </connector>
            <label>ApprovedorDeclined</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_reviewer</name>
        <label>check reviewer</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>update_Application_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accountreviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fleet_Reviewed_By__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Application.Fleet_Reviewed_By__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>application_to_accountreviewer</targetReference>
            </connector>
            <label>Accountreviewer</label>
        </rules>
        <rules>
            <name>applicationreviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Application.Fleet_Reviewed_By__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Application_Approverreviewer</targetReference>
            </connector>
            <label>applicationreviewer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_of_submission</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW())</expression>
    </formulas>
    <formulas>
        <name>Reminder_date</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!text_reminder_date})</expression>
    </formulas>
    <formulas>
        <name>text_reminder_date</name>
        <dataType>String</dataType>
        <expression>TEXT({!Date_of_submission})+&quot; &quot;+ &quot;16:00:00&quot;</expression>
    </formulas>
    <interviewLabel>Fleet_Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fleet Account Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Application</name>
        <label>get Application</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fleet_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>application_to_accountreviewer</name>
        <label>application to accountreviewer</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>update_Application_ApproverNdStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Fleet_Reviewed_By__c</field>
            <value>
                <elementReference>get_Application.Fleet_Reviewed_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_account_reviewer</name>
        <label>update account reviewer</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Fleet_AR_App_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fleet_AR_App_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_Reviewed_By__c</field>
            <value>
                <elementReference>$Record.Fleet_Approved_Declined_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Application_Approver</name>
        <label>update Application Approver</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <elementReference>$Record.Fleet_AR_App_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Approved_Declined_By__c</field>
            <value>
                <elementReference>$Record.Fleet_Approved_Declined_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Fleet_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Application_ApproverNdStatus</name>
        <label>update Application ApproverNdStatus</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <elementReference>$Record.Fleet_AR_App_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Approved_Declined_By__c</field>
            <value>
                <elementReference>$Record.Fleet_Approved_Declined_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Fleet_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Application_Approverreviewer</name>
        <label>update Application Approverreviewer</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>update_account_reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <elementReference>$Record.Fleet_AR_App_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Approved_Declined_By__c</field>
            <value>
                <elementReference>$Record.Fleet_Approved_Declined_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Reviewed_By__c</field>
            <value>
                <elementReference>$Record.Fleet_Approved_Declined_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Fleet_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_AR_status</name>
        <label>update AR status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fleet_Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted for AR Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_AR_App_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Days_Until_Decline__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_AR_status_approved</name>
        <label>update AR status approved</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>get_Application</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Fleet_AR_App_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fleet_AR_App_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_Approved_Declined_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Days_Until_Decline__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_AR_statuss</name>
        <label>update AR Status</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>check_date_of_submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fleet_Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Additional Information</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_AR_App_Status__c</field>
            <value>
                <stringValue>Pending Additional Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Credit_App_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_NonCredit_App_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Date</name>
        <label>update Date</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fleet_Pending_Additional_Info_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Fleet_Days_Until_Decline__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_Pending_Additional_Info_Date__c</field>
            <value>
                <elementReference>Date_of_submission</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_account_RT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Fleet_Account_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fleet_AR_App_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject_line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Follow-up with customer regarding approved account</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tasksub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testsub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>testing for task on approved one </stringValue>
        </value>
    </variables>
</Flow>
