force-app/main/default/flows/Notification_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>After_event_updates</name>
        <label>After event updates</label>
        <locationX>1106</locationX>
        <locationY>1415</locationY>
        <actionName>Appt_InvocableNotificationUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_to_send_Reply_Platform_Event_not_confirmed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nRecords</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>After_event_updates_1</name>
        <label>After event updates</label>
        <locationX>1106</locationX>
        <locationY>1871</locationY>
        <actionName>Appt_InvocableNotificationUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_to_send_Reply_Platform_Event_confirmed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nRecords</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>After_Event_Updates_2</name>
        <label>After Event Updates</label>
        <locationX>1106</locationX>
        <locationY>2327</locationY>
        <actionName>Appt_InvocableNotificationUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirm_Service_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nRecords</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Error_Info</name>
        <label>Set Error Info</label>
        <locationX>305</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Error_Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email not eligible. SMS only channel.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Send_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Info1</name>
        <label>Set Error Info</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Error_Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMS not eligible to send</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Info2</name>
        <label>Set Error Info</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Error_Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial SMS Payload not created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Info3</name>
        <label>Set Error Info</label>
        <locationX>908</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>Error_Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer is not opted in for SMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_notification_enabled</name>
        <label>Check for notification enabled</label>
        <locationX>305</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Not_Valid_Order_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_is_disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_setting_for_notification_enabled.Value__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FALSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Info1</targetReference>
            </connector>
            <label>Notification is disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Sending_Initial_Platform_Event</name>
        <label>Check for Sending Initial Platform Event</label>
        <locationX>1238</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Check_to_send_Reply_Platform_Event_not_confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sending_Initial_Platform_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_PE_SMS_Send_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event</targetReference>
            </connector>
            <label>Sending Initial Platform Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SMS_opt_Out</name>
        <label>Check for SMS opt Out</label>
        <locationX>1040</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_opt_Out_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Info3</targetReference>
            </connector>
            <label>SMS opt Out False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Valid_SMS_Payload</name>
        <label>Check for Valid SMS Payload</label>
        <locationX>1040</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_for_Sending_Initial_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_SMS_Payload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_PE_SMS_Payload__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_PE_SMS_Send_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_1</targetReference>
            </connector>
            <label>Invalid SMS Payload</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_send_Reply_Platform_Event_confirmed</name>
        <label>Check to send Reply Platform Event (confirmed)</label>
        <locationX>1238</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Check_for_SMS_opt_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sending_Reply_Platform_Event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reply_PE_Send_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reply_PE_Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPT_CONFIRMED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Response_Platform_Event_1</targetReference>
            </connector>
            <label>Sending Reply Platform Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_send_Reply_Platform_Event_not_confirmed</name>
        <label>Check to send Reply Platform Event (not confirmed)</label>
        <locationX>1238</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Check_to_send_Reply_Platform_Event_confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sending_Reply_Platform_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reply_PE_Send_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reply_PE_Notification_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>APPT_CONFIRMED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointment_SMS_Opt_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Response_Platform_Event</targetReference>
            </connector>
            <label>Sending Reply Platform Event</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for SMS data is missing</description>
        <name>Is_Valid_SMS_data</name>
        <label>Is Valid SMS data</label>
        <locationX>809</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Check_for_Valid_SMS_Payload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Missing_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>smsMissingData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Initial_PE_Status</targetReference>
            </connector>
            <label>SMS Missing Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Valid_Order_Number</name>
        <label>Not Valid Order Number</label>
        <locationX>561</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Is_Valid_SMS_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Has_Valid_Order_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_Valid_Order_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Initial_PE_Status</targetReference>
            </connector>
            <label>Does Not Has Valid Order Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Last_Error_Message_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Last_Error_Message__c} &amp;{!Error_Info} &amp;&quot;; &quot;</expression>
    </formulas>
    <formulas>
        <name>smsMissingData</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Customer_Mobile_Phone__c})</expression>
    </formulas>
    <interviewLabel>Notification SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>After_event_updates</targetReference>
        </connector>
        <inputAssignments>
            <field>communicationType__c</field>
            <value>
                <elementReference>$Record.Communication_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationChannel__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationType__c</field>
            <value>
                <elementReference>$Record.Notification_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smsPayload__c</field>
            <value>
                <elementReference>$Record.Initial_PE_SMS_Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Notification_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Response_Platform_Event</name>
        <label>Create Response Platform Event</label>
        <locationX>1106</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>After_event_updates_1</targetReference>
        </connector>
        <inputAssignments>
            <field>communicationType__c</field>
            <value>
                <elementReference>$Record.Communication_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationChannel__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationType__c</field>
            <value>
                <elementReference>$Record.Reply_PE_Notification_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smsPayload__c</field>
            <value>
                <elementReference>$Record.Reply_PE_Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Notification_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Response_Platform_Event_1</name>
        <label>Create Response Platform Event</label>
        <locationX>1106</locationX>
        <locationY>2207</locationY>
        <connector>
            <targetReference>After_Event_Updates_2</targetReference>
        </connector>
        <inputAssignments>
            <field>communicationType__c</field>
            <value>
                <elementReference>$Record.Communication_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationChannel__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notificationType__c</field>
            <value>
                <elementReference>$Record.Reply_PE_Notification_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smsPayload__c</field>
            <value>
                <elementReference>$Record.Reply_PE_Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Notification_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_setting_for_notification_enabled</name>
        <label>Get setting for notification enabled</label>
        <locationX>305</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_notification_enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Disable_SMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appt_Appointment_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Confirm_Related_Service_Appointment</name>
        <label>Confirm Related Service Appointment</label>
        <locationX>1106</locationX>
        <locationY>2567</locationY>
        <connector>
            <targetReference>Check_for_SMS_opt_Out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Appointment__r.Related_Appointment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Confirm_Service_Appointment</name>
        <label>Confirm Service Appointment</label>
        <locationX>1106</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Confirm_Related_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Check_for_SMS_opt_Out</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Error_Message__c</field>
            <value>
                <elementReference>Last_Error_Message_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Initial_PE_Status</name>
        <label>Set Initial PE Status</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Initial_PE_SMS_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_the_Initial_PE_Status</name>
        <label>Set the Initial PE Status</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Initial_PE_SMS_Send_Status__c</field>
            <value>
                <stringValue>Invalid Order Number</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Send_Status</name>
        <label>Update Email Send Status Failure</label>
        <locationX>305</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_setting_for_notification_enabled</targetReference>
        </connector>
        <inputAssignments>
            <field>Initial_Email_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Error_Message__c</field>
            <value>
                <elementReference>Last_Error_Message_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Initial_PE_SMS_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Error_Message__c</field>
            <value>
                <elementReference>Last_Error_Message_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_PE_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_1</name>
        <label>Update Status</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Set_Error_Info2</targetReference>
        </connector>
        <inputAssignments>
            <field>Initial_PE_SMS_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_2</name>
        <label>Update status</label>
        <locationX>908</locationX>
        <locationY>3119</locationY>
        <inputAssignments>
            <field>Initial_PE_SMS_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Error_Message__c</field>
            <value>
                <elementReference>Last_Error_Message_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_PE_Send_Status__c</field>
            <value>
                <stringValue>Invalid Data</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Error_Info</targetReference>
        </connector>
        <filterFormula>NOT(CONTAINS({!$Record.Channels__c}, &quot;EMAIL&quot;))</filterFormula>
        <object>Notification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Error_Info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
